<div class="banner mb-4 mt-md-4">
	<div class="container">
		<div class="banner-holder">
			<div class="owl-carousel owl-theme owl-home-banner">
                <div class="banner-container">
                    <div class="banner-image">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_05.jpg?454">
                            <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Small_Banner_05.jpg?454">
                            <img src="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_05.jpg?454" alt="" title="" class="img-responsive">
                        </picture>
                    </div>
                    <div class="banner-container-text align banner-caption" title="">
                        <div class="row">
                            <div class="offset-sm-1 col-sm-5">
                                <div class="text-wrap">
                                    <h4 class="h4 text-white font-weight-light mt-0 mb-0 banner-title">Wear your true colours</h4>
                                    <h1 class="h1 text-white font-weight-regular mt-0 mb-0 banner-sub-title font-size-60"><span class="text-orange">Be</span>Orange.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-container">
                    <div class="banner-image">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_02.jpg?454">
                            <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Small_Banner_02.jpg?454">
                            <img src="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_02.jpg?454" alt="" title="" class="img-responsive">
                        </picture>
                    </div>
                    <div class="banner-container-text align banner-caption" title="">
                        <div class="row">
                            <div class="offset-sm-1  col-sm-5">
                                <div class="text-wrap">
                                    <h4 class="h4 text-white font-weight-light mt-0 mb-0 banner-title">Wear your true colours</h4>
                                    <h1 class="h1 text-white font-weight-regular mt-0 mb-0 banner-sub-title font-size-60"><span class="text-orange">Be</span>Orange.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-container">
                    <div class="banner-image">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_03.jpg?454">
                            <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/1505/6540/files/Small_Banner_03.jpg?454">
                            <img src="https://cdn.shopify.com/s/files/1/1505/6540/files/Big_Banner_03.jpg?454" alt="" title="" class="img-responsive">
                        </picture>
                    </div>
                    <div class="banner-container-text align banner-caption" title="">
                        <div class="row">
                            <div class="offset-sm-1 col-sm-5">
                                <div class="text-wrap">
                                    <h4 class="h4 text-white font-weight-light mt-0 mb-0 banner-title">Wear your true colours</h4>
                                    <h1 class="h1 text-white font-weight-regular mt-0 mb-0 banner-sub-title font-size-60"><span class="text-orange">Be</span>Orange.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>