<!-- /snippets/product-quick-view.liquid -->
<div id="quick-view" class="hidden-label br-product-popup">
  <div class="overlay no-background"></div>
  <div class="content product-single br-product br-product-detail br-product-slide-vertical">
    <div class="row">
      <div class="col-sm-6">
        <div class="product-media thumbnai-left">
          <div class="wishlist-icon">
              {% include 'add-wishlist' %}
          </div>
          <div class="featured-image product-single-photos br-product__media br-product-slide-vertical-image pb-0"></div>
          <div class="more-views owl-carousel-play  margin-top-10 {% if settings.enable_rtl %}engoc_no_rtl{% endif %}">
            <div class="engoc_hide_owl_control owl-carousel d-flex"  data-items="4" data-dots="false" data-lazyLoad="true" data-nav="true" data-autoHeight="false"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="br-product-detail__container detail-info">
          <div class="product-shop product-info-main">
            <div class="product-item">
              <h2 class="product-name product-title mb-0 title_section_all text-blue"><a>&nbsp;</a></h2>

              <div class="details clearfix">
                <form action="/cart/add" method="post" class="variants CartContainer">
                  <div class="prices product-price  variation-price mb-15">                  
                    <del class="price_nosale quickview compare-price  opaci title14"></del>
                    <span class="price_sale quickview price title18 color font-bold"></span>
                  </div>

                  <select name='id' style="display:none;" class="engoj-except-select2">

                  </select>

                  <div class="product-actions mt-md-5 mt-3">
                    <div class="product-quantity  d-none">
                      <label class="d-none">{{ 'products.product.quantity' | t }}</label>
                      
                      <div class="quantity-all js-qty">
                        <span  class='qtyminus' data-field='quantity'><i class="fa fa-minus"></i></span>
                        <input type="text" name="quantity" value="1" class="qty quantity" style="padding: 10px 15px; text-align: center;">
                        <span class='qtyplus' data-field='quantity'><i class="fa fa-plus"></i></span>
                      </div>
                      <div class="total-price product-price">
                        <label class="engoc_subtt_qw d-none">{{ 'products.general.subtotal_price' | t }}:</label>
                        <span class="sub_total_price"></span>
                      </div>
                    </div>

                    <div class="actions">
                      <button type="submit" class="btn-addToCart shop-button addcart-link btn-basic pl-10 font-bold btn-bg-blue rounded-0">{{ 'products.product.add_to_cart' | t }}</button>
                    </div>
                  </div>

                  <div class="mt-md-5 mt-3">
                    <h6 class="text-blue">Product Description: </h6>
                    <p class="des description desc product-desc"></p>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="close-window"><span class="ti-close close_search"></span></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  Shopify.doNotTriggerClickOnThumb = false;
</script>
