{% assign products_limit = section.settings.related_product_limit %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}

{% if section.settings.enable_related_product %}

<div class="shop_the_look section-product-v1">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="title-shop_the_look">
          {% if section.settings.related_product_title != blank %}
          <h3 class="mb-0 title_section_all">{{section.settings.related_product_title}}</h3>
          {% endif %}
          {% if section.settings.related_product_description != blank %}
          <p class="mb-0">{{section.settings.related_product_description}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  	<div class="row">
    {% if collection and collection.products_count > 1 %}
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: products_limit  %}
    {% if product.handle == current_product.handle %}
    {% assign current_product_found = true %}
    {% else %}
    {% unless current_product_found == false and forloop.last %}
	<div class="col-lg-3 col-6 left col-md-3 col-12">
    {% include 'product-item' %}
    </div>

    {% endunless %}
    {% endif %}
    {% endfor %}
    {% else %}
    {% for i in (1..8) %}
    <div class="col-lg-3 col-6 left col-md-3 col-12">
    {% include 'empty-product-item' %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  </div>
</div>
{% endif %}