<div class="search_mobile">
  <div class="bg_search_box">
  </div>
  <div class="search_box">
    <div class="search_content">
      <span class="ti-close close_search"></span>
      <form class="wg-search-form" action="/search">
        <input type="hidden" name="type" value="product">
        <input type="text" name="q" placeholder="Search here...">
        <button class="search" type="submit"> Search </button>
      </form>
    </div>
  </div>
</div>
