<div class="two-column-products mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex mb-3 mb-md-0">
                <div class="product-wrap blue-background-gradient w-100">
                    <div class="row">
                        <div class="col-6">
                            <div class="product-image p-2">
                                <img src="https://cdn.shopify.com/s/files/1/1505/6540/files/Front_View_1.png?1519" class="img-fluid"/>
                            </div>                            
                        </div>
                        <div class="col-6">
                            <div class="product-data text-white py-3 py-md-5 pr-3">
                                <h4 class="mb-4 font-weight-regular">FC Goa Home Kit Jersey 2019/20</h4>
                                <div class="product-price font-size-18 font-weight-light mb-4">
                                    Rs. 899.00
                                </div>
                                <div class="product-variations mb-4 mb-md-5">

                                </div>
                                <div class="product-add-cart">
                                    <a href="#" class="btn btn-basic btn-white rounded-0 text-left">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex mb-3 mb-md-0">
                <div class="product-wrap orange-background-gradient w-100">
                    <div class="row">
                        <div class="col-6">
                            <div class="product-image p-2">
                                <img src="https://cdn.shopify.com/s/files/1/1505/6540/files/Front_View_Away_1.png?1519" class="img-fluid"/>
                            </div>                            
                        </div>
                        <div class="col-6">
                            <div class="product-data text-white py-3 py-md-5 pr-3">
                                <h4 class="mb-4 font-weight-regular">FC Goa Away Kit Jersey 2019/20</h4>
                                <div class="product-price font-size-18 font-weight-light mb-4">
                                    Rs. 899.00
                                </div>
                                <div class="product-variations mb-4 mb-md-5">
                                    
                                </div>
                                <div class="product-add-cart">
                                    <a href="#" class="btn btn-basic btn-white rounded-0 text-left">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>